@model IEnumerable<Compa>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create"  class="btn btn-info">Add Company</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model=>model.Id) </th>
            <th> @Html.DisplayNameFor(model=>model.Company) </th>
            <th> @Html.DisplayNameFor(model=>model.IsActive) </th>

            <th>Action</th>

        </tr>
    </thead>

      <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Id)</td>
                   <td>@Html.DisplayFor(modelitem => item.Company)</td>

                     <td>@Html.DisplayFor(modelitem => item.IsActive)</td>
                 <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Update </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>